{{ define "main" -}}

{{ if isset .Params "display_image" -}}

<div class="top-image" style="background-image: url({{.Params.display_image}});"></div>

{{- end}}

<div class="post">
  <h1>{{ .Title }}</h1>

  
  {{ if .Params.toc -}}
  <div class="toc-page">
    <h2>Table of Contents</h2>
    {{ .TableOfContents }}
  </div>
  {{- end }}
  <div class="post-content">
    {{ .Content }}
  </div>
</div>

{{ if .Site.DisqusShortname -}}
<h2>Comments</h2>
{{ template "_internal/disqus.html" . }}
{{- end }}

<!-- Add mermaid min js file -->
{{ if (.Params.mermaid) }}
{{ partial "mermaid.html" }}
{{ end }}

{{- end }}
